.homepage-layout {
  text-align: center;
}

.calandar-container {
  margin: 0 auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 800px;
  height: 300px;
  table-layout: fixed;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  width: 800px;
  margin-bottom: 1em;
}
.todo-item input[type="checkbox"] {
  margin-right: 1em;
}
.todo-item input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5em;
  font-size: 1.2em;
}
.todo-item.done input[type="text"] {
  text-decoration: line-through;
}
